:root {
  --background-color: #ffffff;
  --logo-color: #4d5ae5;
  --logo-color-header: #2e2f42;
  --logo-color-footer: #f4f4fd;
  --contacts-color: #434455;
  --text-color: #2e2f42;
  --bg-color-section: #2e2f42;
}
* {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--logo-color);
  letter-spacing: 0.03em;
}
.logo-part-header {
  color: var(--logo-color-header);
}
.menu-links {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contact-item {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.slogan {
  background-color: var(--bg-color-section);
}
.text-slogan {
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}
.button {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.footer {
  background-color: var(--bg-color-section);
}
.logo-part-footer {
  color: var(--logo-color-footer);
}
.footer-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--logo-color-footer);
}
.list-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.list-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.title {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color);
}
.teams {
  background-color: #f4f4fd;
}
.list-team .list-item {
  background-color: #ffffff;
}
.button-filter {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  cursor: pointer;
  color: var(--logo-color);
}
.button-filter:hover,
.button-filter:focus {
  background-color: #404bbf;
  color: #ffffff;
}
